<%= stylesheet_link_tag 'application', media: 'all' %>

 <div class="bottom-right-element">
    <%= link_to "https://github.com/EricLuec/ImageGallery", target: "_blank" do %>
        <%= image_tag "icons/github.svg", class: "icon" %>
    <% end %>
  </div>
