<%= stylesheet_link_tag "header", "data-turbo-track": "reload" %>
<header id="header">
  <nav class="links" style="--items: 5;">
    <%= link_to 'Home', root_path %>
    <%= link_to 'Collection', collection_path %>
    <a href="#"> About us</a>
    <a href="#">Link 4</a>
    <a href="#">Link 5</a>
    <span class="line"></span>
  </nav>
</header>
