<!DOCTYPE html>
<html lang="en">
<head>
  <%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body id='about'>

<h1>About this project</h1>

</body>
</html>