<head>
<%= stylesheet_link_tag "form", "data-turbo-track": "reload" %>  
</head>
<div id='form-body'>
<h1>Welcome Home, <%= current_user.email %></h1>
<%= link_to 'Sign out', destroy_user_session_path, class:'link' %>

</div>