/* form.scss */

/* Global Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#form-body{
    color: white;
    font-family: 'Inter', sans-serif;
    min-height: 80vh;
    width: 100%;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.container {
  width: 100%;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 1.5rem;
  background-color: #D8DBCE;
}

.cta-form {
  margin-bottom: 2rem;
  text-align: center;
}

.cta-form h2 {
  font-size: 1.5rem;
  width: 100%;
  max-width: 25ch;
  margin: 0 auto;
  text-align: center;
}

.cta-form p {
  margin-top: 1rem;
  font-size: 1rem;
  width: 100%;
  max-width: 24ch;
}

.form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #a39e9e;
}

/* Label Styling */
.form__label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: large;
  color: #333;
}

/* Input Styling */
.form__input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Submit Button */
.form__input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.form__input[type="submit"]:hover {
  background-color: #0056b3;
}
.link{
  color: white;
  font-size: 1rem;
}

.actions {
  margin-top: 1rem;
}

.actions .form__input {
  background-color: #303030;
  color: #fff;
  cursor: pointer;
}

.actions .form__input:hover {
  background-color: #505050;
}
