
body {
  padding-top: 75px; /* Höhe der ursprünglichen Navbar, die entfernt wurde */
}

.card-container {
  position: relative;
  height: 350px;
  width: 280px;
  border-radius: 8px;
  overflow: hidden;
  margin: 12px;
}

.inner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.car-pic {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  transition: transform 0.2s linear;
  cursor: pointer;
}

.title-h6 {
  background-color: gray;
  border-radius: 5px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  z-index: 1;
}

.bottom-actions {
  display: flex;
  gap: 15px;
  align-items: center;
  position: absolute;
  bottom: 10px;
  width: calc(100% - 20px);
  left: 10px;
}

.delete-btn {
  background-color: red;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 20%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.delete-btn:hover{
  background-color: #303030;
}

.like-btn {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.trash-icon, .like-icon {
  width: 24px;
  height: 24px;
}

.download-png-btn {
  background-color: #fff;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.download-png-btn:hover {
  background-color: #f0f0f0;
}

.search-box-container {
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
}

.search-box i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #333;
}

.search-box input[type="text"] {
  width: 300px;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-box {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.actions .form__input {
  background-color: #303030;
  color: #fff;
  cursor: pointer;
}

.actions .form__input:hover {
  background-color: #505050;
}

.add-car-icon {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
  margin-left: 20px;
}

.add-car-icon:hover {
  transform: scale(1.2) rotate(90deg);
  filter: brightness(1.5);
}