<head>
<%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'application', media: 'all' %>
<%= csrf_meta_tags %>
</head>
<body>
    <div class="search-box-container">
        <div class="search-box">
            <i class="bx bx-search"></i>
            <input type="text" placeholder="Search a car" />
        </div>
    </div>
          
    <%= javascript_include_tag 'script' %>
  </body>
</html>
